*{
    box-sizing: border-box;
}
body{
    font-family:'Courier New', Courier, monospace;
}
.section1{
    height: 70rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.section1 img{
    width: 70%;
    height: 70rem;
    justify-content: right;
}
.section1 div{
    width: 30%;
    height: 70rem;
    background-color: white;
    color: black;
    text-align: center;
    margin: 25rem auto;
}
.section1 div a{
    border: 1px solid black;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
}
.section1 div h1{
    font-size: xxx-large;
}
.section1 div h2{
    margin: -40px 0px 40px 0px;
    color: gray;
}

.section2{
    display: block;
    text-align: center;
}
.section2 h1{
    background:rgb(49, 49, 49);
    color: white;
    padding: 2rem;
    margin: 0px;
    margin-top: 1rem;
}
.section2 img{
    margin: 0px;
    width: 100%;
}
.section2 p{
    background: rgb(180, 180, 180);
    padding: 1.5rem;
    text-align: center;
    margin: 0px;
    margin-bottom: 1rem;
    font-size: x-large;
    color: black;
    font-weight: bold;
}